/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@600&display=swap');

/* Root Variables */
:root {
    --black: #181714;
    --white: #ffffff;
    --gray-200: #e5e7eb;
    --gray-500: #6b7280;
    --gray-800: #1f2937;
    --bg-color: #f9fafb;
}

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--gray-800);
}


.services-section {
    width: 100%;
    padding: 3rem 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
}

.service-block {
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 1.5rem;
    flex: 1 1 45%;
    max-width: 45%;
    cursor: pointer;
}

.service-block:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.service-content {
    display: flex;
    align-items: center;
 
}

.service-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    color: var(--gray-500);
}

.service-title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
}

.service-description {
    font-size: 1rem;
    color: var(--gray-500);
    margin: 0;
    padding-left: 1rem;
}

@media (max-width: 768px) {
    .service-block {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 100%;
    }
}